<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap's CSS stylesheet -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous"
        />
        <!-- My CSS stylesheet -->
        <link
            href="{{ url_for('static',filename='css/style.css') }}"
            rel="stylesheet"
        />
        <title>Discord Profile Picture</title>
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="text-white">
        <div class="bg">
            <div id="main">
                <p class="roboto fifty">Discord server invite:</p>
                <!-- Text Input using Bootstrap -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">
                        discord.gg/</span
                    >
                    <input
                        type="text"
                        placeholder="XXXXXXXX"
                        class="form-control"
                        id="basic-url"
                        aria-describedby="basic-addon3"
                    />
                    <button
                        class="btn btn-outline-secondary"
                        type="button"
                        id="button-addon2"
                    >
                        Send
                    </button>
                </div>
            </div>
        </div>
        <!-- My JS Script -->
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
        <!-- Bootstrap's JS Script -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
